@import "../fonts/fontawesome-webfont.woff";
@import "../fonts/fa-brands-400.woff";
@import "../fonts/fa-regular-400.woff";
@import "../fonts/fa-solid-900.woff";
.nopadh{padding-left: 0; padding-right: 0;}
.icon_1{   
    padding: 10px 0;
    transition: ease-in-out all .3s;
    /* border: 1px solid #ddd; */
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
}
.icon_1 p{margin-bottom: 0;}
.img_wid{width: 65%; margin: 0 auto;}
.pd_bt45{padding-bottom: 45px;}
.icon_1:hover{box-shadow: 1px 2px 3px 4px rgba(155, 155, 155, 0.7); transition: ease-in-out all .3s; border-color: transparent;}
.bg_box{box-shadow: 1px 2px 3px 4px #eee;}
#cat_carousel .owl-height{min-height: 120px;}



.wrap {
    overflow: hidden;
}

.carousel {
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(100%);
}
@media (min-width: 30em) {
    .carousel {
        left: -50%;
        transform: translateX(50%);
    }
}
@media (min-width: 40em) {
    .carousel {
        left: -33.33333%;
        transform: translateX(33.33333%);
    }
}

.carousel.is-reversing {
    transform: translateX(-100%);
}
@media (min-width: 30em) {
    .carousel.is-reversing {
        transform: translateX(-50%);
    }
}
@media (min-width: 40em) {
    .carousel.is-reversing {
        transform: translateX(-33.33333%);
    }
}

.carousel.is-set {
    transform: none;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-seat {
    flex: 1 0 100%;
    order: 2;
}

@media (min-width: 30em) {
    .carousel-seat {
        flex-basis: 50%;
    }
}
@media (min-width: 40em) {
    .carousel-seat {
        flex-basis: 33.33333%;
    }
}

.carousel-seat.is-ref {
    order: 1;
}


.controls {
    padding: 2em;
    text-align: center;
}
.controls button {
    background: #aaa;
    border: 0;
    border-radius: 0.25em;
    color: #eee;
    padding: 0.5em 1em;
}
.controls button:hover, .controls button:focus {
    background: #ff3133;
}
.productinfo.prod_card{padding: 10px; background: #fff; box-shadow: 1px 2px 3px 4px rgba(227, 227, 227, 0.9);}
.single-products.pad_1015{padding: 10px 25px;}
.pd_tp35{padding-top: 20px;}
img.img_car{width: 86%;}
.product-image-wrapper.marg_bt0{margin-bottom: 0; border: 0;}
.category-products .panel-default .panel-heading:hover{background-color: #ed3237; color: #fff;}
.category-products .panel-default .panel-heading:hover a{color: #fff;}
.category-products .panel-default .panel-heading:hover a span{color: #fff;}
.brands-name .nav-stacked li a:hover{background-color: #ed3237; color: #fff;}
.icon_size{text-align: center;font-size: 45px; color: #5a5a5a;}
.control-carousel:focus{color: #ed3a3a; outline: none;}
.dis_fl{display: flex;}
.product-overlay .add-to-cart:hover {background: #696763; color: #fff;}
.add-to-cart1 {background:#F5F5ED;border: 0 none;border-radius: 0;color: #696763;font-family: 'Roboto', sans-serif;font-size: 15px;
    margin-bottom: 10px;width: 88%;}
.add-to-cart1 i{margin-right:5px;}
.add-to-cart1:hover {background: #696763;color: #FFFFFF;border: 0 none;border-radius: 0;}
.recommended-item-control i:hover {background: #696763;}




.header-bottom .navbar{margin-bottom: 0; border-radius: 0;}
.header-bottom .pad_tp0{padding-top: 0;}
.header-bottom .pd_bt0{padding-bottom: 0;}
.marg_bt0{margin-bottom: 0;}
ul.sub-menu{top: 73px; width: auto;}
.top_pad{padding-top: 15px;}
.top_pad1{padding: 20px 0;}
.box_shdw{box-shadow: 0px 0px 3px 0px #5a5a5a;}
.left{left: 20px;}
.right{right: 20px;}
.pd_left30{padding-left: 30px;}
.well{padding: 35px 10px;}
.well input{width: 100%;}
.fl_rt{float: right;}
.item_sub:hover{box-shadow: 0px 0px 3px 0px #5a5a5a; border-color: transparent;}
.owl-carousel .owl-item img{width: 90%; margin: 0 auto;}
.owl-height{height: auto !important;}
.owl-carousel .owl-stage{margin-top: 3px;}
.item_sub{padding: 0px 35px;border: 1px solid #ddd;}
div.icon_size{padding: 15px;background: #ddd;border-radius: 50%;}
#recommended-item-carousel{box-shadow: none;}
#slider-carousel{box-shadow: none;}
.header-bottom{background-color: #000 !important; padding: 0;}
.sticky {z-index: 9;  position: fixed;  top: 0;  width: 100%;}
.carousel h2{margin: 0;}
.bx_shdw .choose{display: none;  transition: ease-in-out display .5s}
.bx_shdw:hover .choose{display: block;  transition: ease-in-out display .5s}
.bx_shdw:hover{box-shadow: 0px 0px 5px 0px #5a5a5a; transition: all .3s ease-in-out;}
.bx_shdw{transition: all .3s ease-in-out;}
.bx_shdw:hover .productinfo img{transform: scale(1.1); transition: all .3s ease-in-out;}
.mega-dropdown-menu{width: auto !important;}
.dropdown-menu{left: auto !important;}
.choose a{color: #787878 ;}
.choose a:hover{color: #ed3237;}
.choose .brdr_rt{border-right: 1px solid #f7f7f0;}
.dis_bl{display: block; padding: 7px 0 0 30px;}
.card{box-shadow: 0px 0px 2px 0px #5a5a5a; padding: 7px 10px; border-radius: 3px;}
.img_bg{background: #eee; border-radius: 50%; padding: 10px;height: 65px;width: 65px;}
#ac_pg{padding: 20px 0;}
.dis_bl p{margin-bottom: 3px;}
.dis_bl h4{margin: 0;}
.marg_tp20{margin-top: 20px;}
.pd_tp_lr{padding: 7px 10px; font-size: 16px;}
span.txt_clr{color: #5a5a5a;}
.pd_tp_lr:hover span.txt_clr{color: #2a6496;}
input.txt_inp{background: #F0F0E9; border: 0 none; margin-bottom: 10px; padding: 10px; width: 35%; font-weight: 300; margin-right: 10px;}
.modal-body input.txt_inp{background: #F0F0E9; border: 0 none; margin-bottom: 10px; padding: 10px; width: 50%; font-weight: 300; margin-right: 10px;}
.modal-body textarea.txt_wid {
    width: 98.4%;
}
input.marg_lft15{margin-left: 15px;}
label.marg_tp10{margin-top: 10px;}
input.wid_35{width: 45%;}
.pad_020{padding: 0 20px;}
p.txt_hd{font-size: 16px; padding: 0 15px;}
p.txt_hd > span{color: #428bca;  font-size: 20px;} 
span.f_size20{font-size: 20px;}
i.f_size20{font-size: 20px;}
textarea.txt_wid{width: 71%}
.modal-body input.sub_btn{margin: 0 auto;}
.modal-body textarea.txt_wid{width: 98.4%}
select.txt_inp{width: 35%; height: 40px;margin-right: 10px;}
.modal-body select.txt_inp{width: 50%; height: 40px;margin-right: 10px;}
a.pad_brdr{padding: 10px 20px; border: 1px solid #eee;}
.form_link{margin-top: 20px;}
input.sub_btn{padding: 10px 30px; background: #ed3237; color: #fff; border: 0;}
input.sub_btn:hover{background: #e32828}
a.sub_btn{padding: 10px 30px; background: #ed3237; color: #fff; border: 0;}
a.sub_btn:hover{background: #e32828}
a.cancel_btn{margin-left: 15px;padding: 10px 30px;background: #ddfd;color: #5a5a5a;cursor: pointer;}
a.cancel_btn:hover{background: #eee;}
ul.list_sty{list-style: none; padding-left: 0;}
form.wid_48{width: 48%}
form.wid_48 input{width: 90%}
h3.card_hd1{margin-bottom: 0;padding: 10px;background: #e70022;color: #fff;border-radius: 3px;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
h3.card_hd1 span{background: #fff;color: #5a5a5a;padding: 0px 5px;}
ul.list_sty li span{font-size: 16px;color: #e70022;}
ul.list_sty li{margin-bottom: 10px;}
.list_capt p{color: #686868;}
section#checkout{padding-bottom: 30px;}
span.user_addr span{font-size: 12px;background: #ddd;padding: 3px 7px;margin: 0 7px;color: #6b6b6b;}
tr.brder_tp{border-top: 1px dashed #5a5a5a; margin-top: 10px;}
table.table_wid{width: 100%}
hr.mar_tp0{margin-top: 0;}
hr.brdr_sty{border-style: dashed; border-color: #e0e0e0;}
.top_pad22{padding-top: 22px;}
td.wid_120{width: 120px; margin: 0;}
a.del_btn{background: #ddd;padding: 10px;color: #f00;}
a.del_btn:hover{background: #e70022; color: #fff;}
span.icon_sty{font-size: 16px;color: #e70022;}
input.wid_inp45{width: 50%;}
input.marg_r0{margin-right: 0;}
img.marg_pad{margin: 0 auto; padding-bottom: 20px;}
input.wid_inp100{width: 100%;}
section#form{margin: 0; padding: 60px 0;}
div.wid_div49{width: 49%}
div.marg_ri{width: 49%; margin-left: 2%}
h5 a.ord_id{background:  #e60000;color:  #fff;padding:  10px 20px;}
h5 a.ord_id:hover{color: #fff;}
p.marg10{margin: 10px 0}
p span a.help_link{padding:  10px; border: 1px solid #ddd; margin:  0 15px; color: #5a5a5a;}
p span a.help_link span{color: #e60000;}
div.bg_eee{padding: 10px 15px 5px; border: 1px solid #ddd}
.marg_0{margin: 0;}
a:focus{text-decoration: none;}
a.clr_5a{color: #5a5a5a;}
a.clr_5a:hover{color: #2a6496;}
p.clr_87{color: #878787; margin-bottom: 5px; font-size: 12px;}
.border_lrt{border: 1px solid #ddd; border-top: 0;}
span.colr_87{color: #878787;}
/* <<<<<<< HEAD */
ul.drop_dwn{min-width:  315px; top:73px;}
.nav>li>a.login_btn{color: #5a5a5a; width: 75px; text-align: center; cursor: pointer;}
.show {display: block;}
span.clr_fff{color: #fff;}
span.or{background: #fff; color: #5a5a5a; border-radius: 50%; padding: 10px 12px; margin-left: 42%;}
.pd_bt20{padding-bottom: 20px;}
.pd_tp20{padding-top: 20px;}
.brdr_12{border: 1px solid #ddd; padding: 15px 0;}
img.marg_0_auto{margin: 0 auto;}
a.sub_btn{padding: 10px 30px; background: #ed3237; color: #fff; border: 0;}
a.sub_btn:hover{background: #e32828}
.new_div{border-right: 1px solid #ddd; }
.clr_87new{color: #878787; font-size: 15px;}
.hei200{min-height: 200px;}
.clr_txt87{color: #878787;}
.clr_ff1{color: #ed3237}
.inv_link{font-size: 16px; font-weight: 500;}
a:hover .clr_ff1{color: #2a6496}
.marg_tpbt{margin: 15px 0;}
form#search{margin-top: 13px;}
.logo img{height: 94px;padding-left:30px; }
.dropdown-menu li a:hover{background-color: transparent; color: #ed3237; text-decoration: underline;}
.mega-dropdown-menu > li ul > li > a:hover{text-decoration: underline;}
.dropdown-menu li a.sub_cat{color: #ed3237}
.dropdown-menu li a.sub_cat:hover{background-color: #ed3237; color: #fff; text-decoration: none;}
.mega-dropdown-menu > li ul > li > a.sub_cat:hover{text-decoration: none;}
.mega-dropdown-menu .dropdown-header{padding: 0;}
.marg_tpbtn{margin: 20px 0 15px;}
.clr_green{color: #388e3c;}
.bordr_top{border-top: 1px solid #ddd;}
.marg_-10{margin-right: -10px; margin-left: -10px;}
.pd_top10{padding-top: 10px;}
.wishlist_ico{position: absolute; left: 10px; top: 5px; color: #bdbdbd; font-size: 16px; cursor: pointer; z-index: 6;}
.wishlist_ico:hover{color: #ed3237;}
.wishlist_active{color: #ed3237;}
.padd_10{padding: 10px 0;}
.social-icons.nav>li>a>i{padding: 0 10px;}
.social-icons.nav>li>a:hover, .social-icons.nav>li>a:focus{background-color: transparent;}
a.top_bar_marquee{color: #ddd}
.nav>li>a.c_care{padding: 0; color: #ddd;    font-size: 10px;}
.nav>li>a.c_care:hover{background: transparent; color: #fff;}
.list_capt{padding: 0 17px;}
.wid_115{width: 15%; height: 130px;}
.cat_div{text-align: center; width: 12%; border: 1px solid #ddd; margin-right: 6px; padding: 10px 15px 0; background: #fbfbfb;}
p.cat_name{margin: 10px 0 5px; color: #5a5a5a;  font-weight: bold;}
.img_div0 img{margin: 0 auto;}
h3.new_hd{margin: 40px 0 50px; width: 100%; background-color: #fff; text-transform: uppercase; font-weight: 500; letter-spacing: 1px; display: inline-block; text-align: center; border-bottom: 2px solid #e0e0e0; line-height: .1em;} 
h3.new_hd span{font-size: 20px; padding: 25px; background-color: #fbfbfb;}
.marg_r0{margin-right: 0;}


/*============================search result page styles========================*/
/*===================================filter section==================*/
.hdng_fil{padding: 15px 10px 7px; border-bottom: 1px solid #ddd; background: #fbfbfb;}
.left-sidebar{border: 1px solid #ddd;}
.hdng_fil p{color: #000; font-weight: 500; text-transform: uppercase; font-size: 16px; letter-spacing: 1px;}
.type_check{padding: 7px;}
hr.filter_sep{border-color: #ddd;}
p.filter_head{color: #000; font-weight: 500; text-transform: uppercase; font-size: 14px; letter-spacing: 1px; text-align: center;}
.control__indicator:after {content: ''; position: absolute; display: none; }
.control input:checked ~ .control__indicator:after {display: block; }
.control--checkbox .control__indicator:after {left: 5px; top: 3px; width: 5px; height: 8px; border: solid #fff; border-width: 0 2px 2px 0; transform: rotate(45deg);}
.control { position: relative; padding-left: 26px; margin-bottom: 15px; cursor: pointer; font-size: 14px; font-weight: 400;}
.control input {position: absolute; z-index: -1; opacity: 0; }
.control__indicator {position: absolute; top: 2px; left: 6px; height: 15px; width: 15px; background: #e6e6e6; }
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {background: #ccc;}
.control input:checked ~ .control__indicator {background: #2aa1c0; }
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {background: #0e647d; }

/*================price range slider=========================*/
.ui-slider .ui-slider-handle{border-radius: 50%; width: 15px; height: 15px;}
p.filter_head1{color: #000; font-weight: 500; text-transform: uppercase; font-size: 14px; letter-spacing: 1px; text-align: center; margin-bottom: 20px;}
.ui-state-default, .ui-widget-content .ui-state-default:focus{outline: none;}
#slider{padding-bottom: 0;}
.ui-slider-horizontal .ui-slider-handle{top: -2px;}
.ui-widget-header{background: #2aa1c0 !important;}
.ui-widget-content{border: 1px solid #ddd !important;}
.dis_flex{display: flex;}
.dis_flex span{font-weight: 500; padding: 4px;}
.inp_min{width: 30%;}
.inp_set{margin-left: 5px; width: 30%; background: #ed3237; color: #fff; border: 0;}
.inp_set:hover{background: #ec5155;}
.inp_range{padding: 14px 0 0;}
.adv_img{padding: 10px;}
.value {
  position: absolute;
    top: -17px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: 12px;
    color: #333;
}

.price-range-both.value {
  width: 100px;
  margin: 0 0 0 -50px;
  top: 26px;
}

.price-range-both {
  display: none; 
}

.value i {
  font-style: normal;
}
/*================price range slider=========================*/

/*==================================filter section===================================*/


/*=====================================Result section=================================*/
.top_head{padding: 15px 10px 7px; background: #fbfbfb; border-bottom: 1px solid #ddd;}
.select_bx1{text-align: right;}
.select_bx1 span{font-size: 16px; font-weight: 500; text-transform: uppercase;} 
.select_bx1 select{float: right !important; height: 40px; top: 0; width: 65%;}
.select_bx1 select:focus{outline: 0;}
.select select::-ms-expand {display: none; }
.select__arrow {position: absolute; top: 39px;right: 20px; width: 0; height: 0; pointer-events: none; border-style: solid; border-width: 8px 5px 0 5px; border-color: #7b7b7b transparent transparent transparent; }
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {border-top-color: #000;}
.search_text{font-size: 16px; font-weight: 500; text-transform: uppercase; margin-bottom: 5px;}
.search_text1{font-size: 14px; font-weight: 500; text-transform: uppercase; margin-bottom: 0;}
.border_box{border: 1px solid #ddd;}
.pad_15tpbt{padding: 15px 0;}
.prod_card{height: 20.5vw; overflow: hidden; border: 1px solid transparent; width: 21.4%; margin: 15px;}
.prod_card:hover .pro_det{margin-top: -50px; background: #fff; opacity: 0.9; transition: ease-in-out all .3s; box-shadow: 0 2px 12px 4px rgba(0,0,0,.06), 0 4px 5px 0 rgba(0,0,0,.08), 0 1px 10px 0 rgba(0,0,0,.12);}
.prod_card:hover{border-color: #ddd;}
p.pro_name{margin-bottom: 3px; color: #5a5a5a; font-weight: 600; font-size: 18px; text-align: left; padding-left: 5px;}
p.pro_brand{margin-bottom: 0px; color: #878787; text-align:  left; padding-left: 5px; font-size: 16px;}
p.pro_price{color: #5a5a5a; font-weight: 600; font-size: 16px; text-align: left; padding-left: 5px;}
.pro_det{background: hsla(0,0%,100%,.95); transition: ease-in-out all .3s; text-align: center; height: 9vw; padding-top: 5px;}
a.det_btn{padding: 7px 15px; background: #ed3237; color: #fff;}
a.det_btn:hover{background: #ec5155;}
.img_div{height: 15vw; overflow: hidden;}
.img_card{width: 100%;}
.prod_card1{height: 16.5vw; overflow: hidden; border: 1px solid transparent; margin: 15px; width: 21.5%;}
.prod_card1:hover .pro_det1{margin-top: -50px; background: #fff; opacity: 0.9; transition: ease-in-out all .3s; box-shadow: 0 2px 12px 4px rgba(0,0,0,.06), 0 4px 5px 0 rgba(0,0,0,.08), 0 1px 10px 0 rgba(0,0,0,.12);}
.pro_det1{background: hsla(0,0%,100%,.95); transition: ease-in-out all .3s; text-align: center; height: 9vw; padding-top: 5px;}
.prod_card1:hover{border-color: #ddd;}

/*pagination*/
.pagination{display: inline-block; margin-bottom: 5px; margin-top: 0; padding-left: 15px; width: 100%;  text-align: right; padding-right: 15px; }
.pagination ul{ margin: 0; padding: 0; list-style-type: none; }

.pagination a{display: inline-block; padding: 10px 18px; color: #222; } 
.pagination a:hover{background-color: #ed3237; color: #fff;}
.p12 a:first-of-type, .p12 a:last-of-type, .p12 .is-active{background-color: #ed3237; color: #fff; font-weight: bold;}
.p12 a:first-of-type:hover, .p12 a:last-of-type:hover{background: #ec5155;}
/*=====================================Result section=================================*/
.wid_23{width: 23%;}
/*============================search result page styles end========================*/

.hei20vw{height: 20.5vw}
.img_div1{height: 11vw; overflow: hidden;}
.wid65{width: 65%}
.sub_style{color: #5a5a5a; text-transform: uppercase; font-weight: 500; margin: 10px 0; font-size: 15px;}
.img_wid_hei{width: 100%; height: 100%;}
.big_img_div{height: 37.2vw; border: 5px solid #fff; padding: 2px; box-shadow: 0 1px 3px 0 #dedada;} 
.img_style{box-shadow: 0 1px 3px 0 #dedada; border: 5px solid #fff; width: 100%; background-color: #f5f5f5;}
.pad_tp15{padding: 15px 0 0;}
.contactinfo{height: 20px;}
input.txt_inp1{background: #F0F0E9; border: 0 none; margin-bottom: 10px; padding: 10px; width: 100%; font-weight: 300; margin-right: 10px;}
p.contact{font-weight: 500; letter-spacing: 1px; font-size: 16px;}
.pad_top100{padding-top: 100px;}
.brdr_rght{border-width: 0 3px 0 0; border-style: solid;  border-image: linear-gradient(-135deg, #fbfbfb, #cecece, #f1f1f1); border-image-slice: 14;}
.inp_set1 {margin: 0 auto; width: 30%; background: #ed3237; color: #fff; border: 0; padding: 10px 0}
.inp_set1:hover {background: #ec5155;}
/*===============================================================================================*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}
/* >>>>>>> df6b5a1cb8c3dadb6680106888f335b5b6e77973 */

.show {display: block;}
/*==============================select box styyle start=====================*/
select#sort_select {
	background-color: #fff;
	outline:none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	vertical-align: middle;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button; 
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 40px;
	padding: 8px 30px 8px 12px;
	border:1px solid #b5b5b5;
	width:100%;
	border-radius:3px;
}
select#sort_select option{
	background-color: #fff;
	color: #333;
}
select#sort_select::-ms-expand {
	display: none;
}
.selectWrap {
	position: relative;
}
.selectWrap::before {
	z-index: 1;
	position: absolute;
	right: 15px;
	top: 0;
  content: "\f078";
font-family: "fontAwesome";
	line-height: 43px;
	color: #b5b5b5;
	pointer-events: none;
}
/*==============================select box styyle end=====================*/




/*==========================owl carousel start========================================*/
.carousel .owl-nav div {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.carousel .owl-nav div.owl-prev {
  left: 0;
    padding: 10px;
top: 38%;
    background: #e70022;
}
.carousel .owl-nav div.owl-prev:hover{background: #222222}
.carousel .owl-nav div.owl-next {
  right: 0;
    padding: 10px;
    background: #e70022;
top: 38%;
}
.carousel .owl-nav div.owl-next:hover{background: #222222;}
.pd_lft0{padding-left: 0;margin-bottom:10px;}
.carousel{box-shadow: 0 0 8px 0 #5a5a5a; padding: 15px 0 10px;}
.nopadh{padding: 0;}


.no_box .owl-nav div.owl-prev{left: -29px; padding: 10px; background: #fff; color: #5a5a5a; border: 1px solid #ddd; top: 35%;}
.no_box .owl-nav div.owl-next{right: -29px; padding: 10px; background: #fff; color: #5a5a5a; border: 1px solid #ddd; top: 35%;}
.no_box{box-shadow: none; border: 1px solid #ddd;}
.no_box .owl-nav div.owl-prev:hover{background: #e70022; color: #fff;}
.no_box .owl-nav div.owl-next:hover{background: #e70022; color: #fff;}
/*==========================owl carousel end========================================*/


/*=========================search bar style start=========================================*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  /* display: inline-block;
  width: 85%; */
}
form#search input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
form#search input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
form#search input[type=text]:focus{outline: none;}
form#search button[type=submit] {
  background-color: #e70022;
  color: #fff;
  cursor: pointer; 
  padding: 11px 14px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  margin-left: -7px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
form#search button[type=submit]:hover{background-color: #222222;}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/*=========================search bar end=========================================*/
/* ---------- LOGIN ---------- */
#login {
  /*margin: 50px auto;*/
}

form fieldset input[type="text"], input[type="password"] {
 background: #e5e5e5;
    border: none;
    border-radius: 3px;
    color: #5a5656;
    font-family: inherit;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    width: 100%;
    -webkit-appearance: none;
    float: left;
    margin-bottom: 15px;
}
/*form fieldset p{margin-bottom: 0;}*/

form fieldset input[type="submit"] {
  background-color: #008dde;
  border: none;
  border-radius: 3px;
  color: #f4f4f4;
  cursor: pointer;
  font-family: inherit;
  height: 50px;
  text-transform: uppercase;
  width: 100%;
  float: left;
  -webkit-appearance:none;
}

form fieldset a {
  color: #5a5656;
  font-size: 11px;
}

form fieldset a:hover { text-decoration: underline; }

.btn-round {
background: #5a5656;
    border-radius: 50%;
    color: #f4f4f4;
    display: block;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    margin: 50px 15px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}

.facebook-before {
  background: #0064ab;
  border-radius: 3px 0px 0px 3px;
  color: #f4f4f4;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 8%;
}

.facebook {
  background: #0079ce;
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: #f4f4f4;
  cursor: pointer;
  height: 50px;
  width: 92%;
}

.twitter-before {
  background: #af443b;
  border-radius: 3px 0px 0px 3px;
  color: #f4f4f4;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 8%;
}


.twitter {
  background: #d34438;
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: #f4f4f4;
  cursor: pointer;
  height: 50px;
  width: 92%;
}

   .pad_top40{padding-top: 28px;}
   p.marg_bt15{margin-bottom: 15px;}
   span.cart_count{background: #ed3237;
    border-radius: 50%;
    padding: 5px 9px;
    position: absolute;
    top: 0;
    font-size: 11px;}



/*=========================new dropdown start================================*/
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}
/*===========================new dropdown end================================*/



/*=============================breadcrumb style============================*/
.breadcrumbs{
  --cssuiBreadcrumbsTextColor: var(--breadcrumbsTextColor);
  --cssuiBreadcrumbsTextColorActive: var(--breadcrumbsTextColorActive);
  --cssuiBreadcrumbsDivider: var(--breadcrumbsDivider);
  --cssuiBreadcrumbsDividerColor: var(--breadcrumbsDividerColor, inherit);
  --cssuiBreadcrumbsDividerSize: var(--breadcrumbsDividerSize, 16px);
  --cssuiBreadcrumbsIndent:  var(--breadcrumbsIndent, 1px);
  
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item{
  display: inline-block;
  position: relative;
 
  padding-right: calc(var(--cssuiBreadcrumbsDividerSize) + var(--cssuiBreadcrumbsIndent));
  margin-right: var(--cssuiBreadcrumbsIndent);
  
  color: var(--cssuiBreadcrumbsTextColor);
}

.breadcrumbs__item:after{
  content: var(--cssuiBreadcrumbsDivider);
  width: var(--cssuiBreadcrumbsDividerSize);
  height: var(--cssuiBreadcrumbsDividerSize);
  line-height: 1;
  text-align: center;
  font-size: var(--cssuiBreadcrumbsDividerSize);
  color: var(--cssuiBreadcrumbsDividerColor);

  position: absolute;
  top: 41%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.breadcrumbs__item_active{
  margin-right: 0;
  padding-right: 0;
  color: var(--cssuiBreadcrumbsTextColorActive);
}

.breadcrumbs__item_active:after{
  display: none;
}
.breadcrumbs__element{
  color: inherit;
}
.breadcrumbs{
  --breadcrumbsTextColor: #5a5a5a;  
  --breadcrumbsTextColorActive: #878787;  
}
.breadcrumbs_type5{
  --breadcrumbsDivider: "›";
  --breadcrumbsDividerSize: 20px;
}
.page__section{margin: 10px 0;}
/*=============================breadcrumb style end============================*/


/*==================================newdropdown styles=====================================*/
.tab-pane li a{
    width: 280px !important;
}

.tabside
{
  min-height: 240px !important;
  min-width: 350px !important;
  border-radius: 0px;
  margin-left: 222px;
  padding-left: 0 !important;
}
.rr{

    margin-top: -235px ;
    border-bottom: 5px solid #ed3237;
}

.ll{

    background-color: white;
    width: 225px !important;
    min-height: 240px;
    border-bottom: 5px solid #ed3237;


}
.smenu{
    background-color: inherit;
    border: none;
    padding: 0 15px;
    margin-right: 0px;
    margin-bottom: 0px;

}
.tab-pan
{
    text-decoration: none;
}
.dropdown-menu>.active>a{background: transparent; color: #5a5a5a;}
.dropdown-menu>.active>a:hover{background-color: #ed3237; color: #fff;}
h3.cat{text-align: center; margin-top: 5px;}
a.acolor{color: #5a5a5a}
li.pad_tpbt7{padding: 4px 0;}
/*==================================newdropdown styles=====================================*/


/* Siddharth CSS */



.logincart{

}
.logincart li{
    text-align: center;
    color: #fff;
    display: inline-block;
    /* width: 23%; */
    position: relative;
    vertical-align: top;
}
.searchbar{
    padding-top:30px;
}
.navigation-bottom-menu{
    padding: 7px 10px !important;
    border-right: 1px solid #5a5a5a;
}
.navigation-bottom{
    min-height: 38px;
}
@media only screen and (max-width: 600px) {
    .logo img {
        max-height: 150px;
        
        /* width: 100%; */
    }
    .logocap{
        text-align:center;
    }
}   